.cardInfo{
    
    margin-left: 100px;
    display: flex;
    background-color:#b2ffeb;
    width: 650px;
    height: 660px;
}
li{
    background-color: #b2ffeb;
    font-style:initial;
}
.infoList{
    width:auto;

}
.pokImg{
    height: 350px;
}
li {
    list-style-type: none;
    width: -webkit-fill-available;
   }
   li label{
     margin-block-end: 5px;
     margin-inline-end: 10px;
     
   }
   .abilities{
    column-count: auto;
    }
   
