body{
    background: #b2ffeb;
}
 ul{
     margin-top: 35px;
     width: 650px;
     flex-flow: wrap;
     column-count: 3;
    }
    .types{
        align-self:flex-end;

        
        
    }
.listButtons{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
ul div{ 
    padding-top: 5px;
    margin-bottom: 10px;
    width: 190px;
    height: 170px;
    border-radius: 15px;
}

div img{
    height: 120px;
    width: 140px;
    display: block;
      margin: 0 auto; 

}
div label{
    margin-top: 15px;
      font-size: 15px;
     font-weight: bold;
    display: flex;
    justify-content: center;

}
button{
    margin-left: 5px;
    width: 100px;
    max-height: 40px;
}
.buttonsGroup{
    justify-content: space-between;
}
